.title {
  font-size: 12px;
}

.container {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.contentNews {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 200px;
}
